body{
  background-color: black;
}
.button{
  border:none;
  margin: 10px;
}
.textfield{
  display:block;
  border: none;
  margin: 10px;
  padding: 1px;
  table-layout:;
}
#container{
  background: gray;
  margin: 10px;
  padding: 10px;
  position: absolute;
  top:20%;
  left:33%;
}
#heading{
  font-family: sans-serif;
  font-size: 150%;
  position: absolute;
  left: 41%;
  top: 10%;
  color: White;
}
